<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple E-Shop</title>
    <link rel="stylesheet" href="{% static 'css/cartstyle.css' %}">
</head>

<body>
    <!-- Header -->
    <header>
        <div class="topbar">
            <div class="topbar-links">
                <a href="#">FAQs</a> | <a href="#">Help</a> | <a href="#">Support</a>
            </div>
            <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="navbar">
            <div class="logo">
                <a href="#">E-Shop</a>
            </div>

            <div class="cart-links">
                <a href="#"><i class="fas fa-heart"></i> (0)</a>
                <a href="#"><i class="fas fa-shopping-cart"></i> (0)</a>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <main>
        <section class="cart">
            <h1>Shopping Cart</h1>
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Repeat for each product -->
                    <tr>
                        <td><img src="{$ static 'img/product-1.jpg' %}" alt="Product"> Product 1</td>
                        <td>$150</td>
                        <td>
                            <button class="quantity-btn">-</button>
                            <input type="text" value="1">
                            <button class="quantity-btn">+</button>
                        </td>
                        <td>$150</td>
                        <td><button class="remove-btn">X</button></td>
                    </tr>
                    <!-- End Repeat -->
                </tbody>
            </table>
            <div class="cart-summary">
                <h3>Cart Summary</h3>
                <p>Subtotal: $150</p>
                <p>Shipping: $10</p>
                <h4>Total: $160</h4>
                <button class="checkout-btn">Proceed to Checkout</button>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-info">
            <p>&copy; 2024 Simple E-Shop. All rights reserved.</p>
            <p>Contact us: info@example.com | +012 345 67890</p>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>